@page "/"

<RadzenStack Gap="8px">
    <RadzenStack AlignItems="AlignItems.Center">
        <RadzenText TextStyle="TextStyle.DisplayH4">
            <strong>BlazorSortableSample</strong>
        </RadzenText>

        <a href="#simple">Simple list</a>
        <a href="#shared">Shared lists</a>
        <a href="#handle">Handle</a>
        <a href="#drop">Drop zone</a>
        <a href="#example">Example</a>
    </RadzenStack>

    <SimpleListExample Id="simple" />
    <SharedListsExample Id="shared" />
    <HandleExample Id="handle" />
    <DropZoneExample Id="drop" />
    <Example Id="example" />
</RadzenStack>
